* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "ClimateCrisis1979";
  src: url("fonts/ClimateCrisisKR-1979.ttf") format("truetype");
}
@font-face {
  font-family: "ClimateCrisis1990";
  src: url("fonts/ClimateCrisisKR-1990.ttf") format("truetype");
}
@font-face {
  font-family: "ClimateCrisis2010";
  src: url("fonts/ClimateCrisisKR-2010.ttf") format("truetype");
}
@font-face {
  font-family: "ClimateCrisis2019";
  src: url("fonts/ClimateCrisisKR-2019.ttf") format("truetype");
}
@font-face {
  font-family: "ClimateCrisis2030";
  src: url("fonts/ClimateCrisisKR-2030.ttf") format("truetype");
}
@font-face {
  font-family: "ClimateCrisis2040";
  src: url("fonts/ClimateCrisisKR-2040.ttf") format("truetype");
}
@font-face {
  font-family: "ClimateCrisis2050";
  src: url("fonts/ClimateCrisisKR-2050.ttf") format("truetype");
}

@font-face {
  font-family: "Freesentation-6";
  src: url("fonts/Freesentation-6SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Freesentation-5";
  src: url("fonts/Freesentation-5Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Freesentation-4";
  src: url("fonts/Freesentation-4Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Freesentation-3";
  src: url("fonts/Freesentation-3Light.ttf") format("truetype");
}

@font-face {
  font-family: "Freesentation-2";
  src: url("fonts/Freesentation-2ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Freesentation-1";
  src: url("fonts/Freesentation-1Thin.ttf") format("truetype");
}

body {
  background-color: #0548ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.text-layer {
  position: absolute;
  font-size: 70px;
  color: white;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.text-1979 {
  font-family: "ClimateCrisis1979", sans-serif;
  animation: fadeInOutSmooth 120s 0s forwards;
}

.text-1990 {
  font-family: "ClimateCrisis1990", sans-serif;
  animation: fadeInOutSmooth 120s 40s forwards;
}

.text-2010 {
  font-family: "ClimateCrisis2010", sans-serif;
  animation: fadeInOutSmooth 120s 80s forwards;
}

.text-2019 {
  font-family: "ClimateCrisis2019", sans-serif;
  animation: fadeInOutSmooth 120s 120s forwards;
}

.text-2030 {
  font-family: "ClimateCrisis2030", sans-serif;
  animation: fadeInOutSmooth 120s 160s forwards;
}

.text-2040 {
  font-family: "ClimateCrisis2040", sans-serif;
  animation: fadeInOutSmooth 120s 200s forwards;
}

.text-2050 {
  font-family: "ClimateCrisis2050", sans-serif;
  animation: fadeInOutSmooth 120s 240s forwards;
}

@keyframes fadeInOutSmooth {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.img-box1 {
  height: 80px;
  width: 360px;
  position: absolute;
  top: 30%;
  left: -15%;

  background-image: url("img/halftone360.png");
  background-size: contain;
}

.img-box2 {
  height: 80px;
  width: 360px;
  position: absolute;
  top: 37%;
  left: -15%;

  background-image: url("img/halftone360.png");
  background-size: contain;
}

.img-box3 {
  height: 80px;
  width: 360px;
  position: absolute;
  top: 45%;
  left: -5%;

  background-image: url("img/halftone360.png");
  background-size: contain;
}

.img-box4 {
  height: 80px;
  width: 360px;
  position: absolute;
  top: 52%;
  left: 10%;

  background-image: url("img/halftone360.png");
  background-size: contain;
}

.img-box5 {
  height: 160px;
  width: 720px;
  position: absolute;
  top: 62%;
  left: -5%;

  background-image: url("img/halftone720.png");
  background-size: contain;
}

.img-box6 {
  height: 120px;
  width: 540px;
  position: absolute;
  top: 80%;
  left: -15%;

  background-image: url("img/halftone540.png");
  background-size: contain;
}

.img-box7 {
  height: 120px;
  width: 540px;
  position: absolute;
  top: 85%;
  left: -10%;

  background-image: url("img/halftone540.png");
  background-size: contain;
}

.img-box8 {
  height: 80px;
  width: 360px;
  position: absolute;
  top: 85%;
  left: 60%;

  background-image: url("img/halftone360.png");
  background-size: contain;
}

.img-box9 {
  height: 80px;
  width: 360px;
  position: absolute;
  top: 75%;
  left: 75%;

  background-image: url("img/halftone360.png");
  background-size: contain;
}

.img-box10 {
  height: 80px;
  width: 360px;
  position: absolute;
  top: 10%;
  left: 80%;

  background-image: url("img/halftone360.png");
  background-size: contain;
}

.text-date {
  position: absolute;
  top: 5%;
  left: 5%;
  font-family: "Freesentation-6", sans-serif;
  font-size: 16px;
  color: white;
}

.text-title {
  position: absolute;
  top: 5%;
  right: 5%;
  font-family: "ClimateCrisis1979", sans-serif;
  font-size: 70px;
  color: white;
  animation: fontFade 15s forwards;
}

.text-subtitle {
  position: absolute;
  top: 18%;
  right: 30%;
  font-family: "ClimateCrisis1979", sans-serif;
  font-size: 25px;
  color: white;
  animation: fontFade 15s forwards;
}

.text-rotated {
  position: absolute;
  bottom: 10%;
  right: -10%;
  font-family: "ClimateCrisis1979", sans-serif;
  font-size: 20px;
  color: white;
  transform: rotate(90deg);
  animation: fontFade 15s forwards;
}

.text-open {
  position: absolute;
  bottom: 8%;
  right: -3%;
  font-family: "Freesentation-6", sans-serif;
  font-size: 20px;
  color: white;
  transform: rotate(90deg);
}

@keyframes fontFade {
  0% {
    font-family: "ClimateCrisis1979", sans-serif;
    opacity: 1;
  }
  15% {
    font-family: "ClimateCrisis1990", sans-serif;
    opacity: 1;
  }
  30% {
    font-family: "ClimateCrisis2010", sans-serif;
    opacity: 1;
  }
  45% {
    font-family: "ClimateCrisis2019", sans-serif;
    opacity: 1;
  }
  60% {
    font-family: "ClimateCrisis2030", sans-serif;
    opacity: 1;
  }
  75% {
    font-family: "ClimateCrisis2040", sans-serif;
    opacity: 1;
  }
  90% {
    font-family: "ClimateCrisis2050", sans-serif;
    opacity: 1;
  }
  100% {
    font-family: "ClimateCrisis2050", sans-serif;
    opacity: 0;
  }
}

.rectangle {
  position: absolute;
  background-color: #eb4dd8;
  transform-origin: center;
  pointer-events: none;
}

#clock01 {
  width: 500px;
  height: 20px;
  left: 50%;
  top: 60%;
  animation: rotateFast 1s linear infinite !important;
}

#clock02 {
  width: 240px;
  height: 20px;
  left: 42%;
  top: 55%;
  animation: rotateSlow 30s linear infinite;
}

@keyframes rotateFast {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateSlow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeOutText {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.text-date,
.text-date2,
.text-location,
.text-open {
  position: absolute;
  color: white;
  animation: fadeOutText 15s forwards;
}

.text-date {
  top: 5%;
  left: 5%;
  font-family: "Freesentation-6", sans-serif;
  font-size: 16px;
}

.text-date2 {
  top: 25%;
  right: 10%;
  font-family: "Freesentation-6", sans-serif;
  font-size: 16px;
}

.text-location {
  top: 28%;
  right: 10%;
  font-family: "Freesentation-6", sans-serif;
  font-size: 20px;
}

.text-open {
  bottom: 8%;
  right: -3%;
  transform: rotate(90deg);
  font-family: "Freesentation-6", sans-serif;
  font-size: 20px;
}
